body {
    font-size: 14px;
    color: #4f4f4f;
    font-family: Microsoft Yahei, Helvetica, Simsun !important ;
}

h1, h2, h3, h4, h5, h6, input, label, div, span, p {
    font-family: Microsoft Yahei, Helvetica, Simsun !important ;
}

/** 调整主页面左右两边的距离 */
.container {
    padding-right: 5px !important;
    padding-left: 5px !important;
}


/** =================================== */
/** 错误消息自定义样式 */
span.errorMessage, div.errorMessage{
    padding: 1px;
    color: #F00000;
    margin-bottom: 1px;
}

/** ajax验证错误式样 **/
input.error, select.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/** 表单提交验证错误式样 **/
div.error select, div.error input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/** 学生信息批量导入时，有错误的数据的样式 */
table#result tr.error{
    /*background-color: #D1203B*/
}

/** =================================== */

/** 必须输入的项目背景色 */
input.required, select.required {
    background-color: #fff8cc;
}


div.alert{
    padding : 10px 15px;
    margin-bottom : 0px !important;
    font-weight: bold;
}

/** 错误消息 */
div.alert-danger{
    border-color: #D1203B;
}

/** 警告消息 */
div.alert-warning{
    border-color: #996B13;
}

/** 成功消息 */
div.alert-success{
    border-color: #556646;
}
/** 成功消息 */
div.alert-success{
    border-color: #46686F;
}


.form-control {
/*    display: inline !important;
    width : auto !important;*/
}

.pager .next>a, .pager .next>span {
    float : left !important;
}

.pager ul li.selected a{
    background-color: #BFCF;
}

table tr td {
    padding: 4px !important;
}

#search-form table tr th {
    text-align: center;
}

table#result tr th {
    text-align: center;
}

/* 输入提示信息式样 */
div.tip {
    font-size: 11px;
    color: #3a87ad;
}


/** 顶端导航栏 */
.navbar{
/*    background-color : #00008B !important;
    border-bottom : #00008B !important;*/
    /*background-image: url(../images/header.png);*/
}

/** 口风琴菜单 */
.sidebar #nav > li:hover > a, .sidebar #nav > li > a.open, .sidebar #nav > li > a.subdrop {
    border-top: 1px solid #4F5861;
    border-bottom: 1px solid #3C434A;
    background-color: #3C434A;  /* 展开父级菜单背景颜色 */
}

/** 口风琴菜单 */
.sidebar #nav li ul li a {
    background: #2E3338;  /* 展开子菜单背景颜色 */
    border-bottom: 1px solid #2E3338;
}


a:visited {
    color: #0186ba;
}
a {
    color: #0069a6;
}


/** 调节表格中数据的显示的位置 */
table>tbody>tr>th , table>tbody>tr>td {
    vertical-align : middle !important;
}

/** 鼠标悬浮在表格上的颜色 */
table>tbody>tr:hover>td{
    background-color: #d9edf7 !important;
}




/** 消除dataTables底部黑色横线 */
table.dataTable.no-footer{
    border-bottom:0px !important;
}




.label-active {
    background-color: #5cb85c;
}

.label-stop {
    background-color: #d9534f;
}



/** dataTables关联 **/
table.table {
    clear: both;
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
}

div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
    position: absolute;
}

/** 过滤 **/
div.dataTables_filter {
    top: -35px;
    right: 30px;
}


div.dataTables_length{
    top: -35px;
    right: 120px;
}