body {
    font-size: 14px;
    color: #4f4f4f;
    font-family: Microsoft Yahei, Helvetica, Simsun !important ;
    background: #fff;
}

h1, h2, h3, h4, h5, h6, input, label, div, span, p {
    font-family: Microsoft Yahei, Helvetica, Simsun !important ;
}


/** 错误消息自定义样式 */
span.errorMessage, div.errorMessage{
    padding: 1px;
    color: #F00000;
    margin-bottom: 1px;
}

input.error, select.error{
    background-color: #fff8cc;
}

div.error  select {
    background-color: #fff8cc;
}

div.alert{
    padding : 10px 15px;
    margin-bottom : 0px !important;
}

.form-control {
/*    display: inline !important;
    width : auto !important;*/
}

.pager .next>a, .pager .next>span {
    float : left !important;
}

.pager ul li.selected a{
    background-color: #BFCFFF;
}

table tr td {
    padding: 4px !important;
}

#search-form table tr th {
    text-align: center;
}

table#result tr th {
    text-align: center;
}



/** 顶端导航栏 */
.navbar{
    background-color : #00008B !important;
    border-bottom : #00008B !important;
}

/** 口风琴菜单 */
.sidebar #nav > li:hover > a, .sidebar #nav > li > a.open, .sidebar #nav > li > a.subdrop {
    border-top: 1px solid #4F5861;
    border-bottom: 1px solid #3C434A;
    background-color: #3C434A;  /* 展开父级菜单背景颜色 */
}

/** 口风琴菜单 */
.sidebar #nav li ul li a {
    background: #2E3338;  /* 展开子菜单背景颜色 */
    border-bottom: 1px solid #2E3338;
}


a:visited {
    color: #0186ba;
}
a {
    color: #0069a6;
}


/** 调节表格中数据的显示的位置 */
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align : middle;
}


